$teal: #00dfa6;
$teal-border: #00936d;
$color-cyan: #00aaff;
$color-cyan-border: darken($color-cyan, 10%);
$color-cyan-bg: darken($color-cyan, 40%);
$color-cyan-d: #04142e;
$color-cyan-d2: #001625;
$color-mustard: #a68e42;